.grid_institut {
    display: grid;
    grid-template-columns: repeat(12, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20em, 1fr));
    /*minmax(min-content 1fr) minmax(min-content 1fr) minmax(min-content 1fr) minmax(min-content 1fr) minmax(min-content 1fr)  minmax(min-content 1fr);*/
    position: relativ;
    z-index: 5;
    background-image: linear-gradient(to left, var(--corporate_color_violett_hell) -30%, var(--corporate_color_violett)50%);
}

.section_institut_left {
    grid-column: 1 /span 12;
    grid-row: 1 / span 1;
}
.text_left {
    grid-column: 1 /span 12;
    grid-row: 3 / span 1;
    color: white;
    margin: 2rem 5rem 0 2rem;
}
.bild_left {
   width: 100%;
   height: auto;
   background-size: cover;
}

.section_institut_right {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    background-size: cover;
}

.bild_right {
    display: none;
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0;
 }
.text_right {
    grid-column: 1 /span 12;
    grid-row: 2 / span 1;
    color: white;
    margin: 2rem 5rem 0 2rem;
}

.bild_gallery {
    object-fit: cover;
    background-color: white;
    margin: 0;
    border: solid 2px white;
}

.bild_gallery:nth-child(5) {
    grid-column: 1 /span 12;
    grid-row: 4 / span 1;
    width: 99%;
    height: auto;
    object-fit: cover;
}

.bild_gallery:nth-child(6) {
    grid-column: 1 /span 6;
    grid-row: 5 / span 1;
    width: 98%;
    height: auto;
    object-fit: cover;
}

.bild_gallery:nth-child(7) {
    grid-column: 7 /span 6;
    grid-row: 5 / span 1;
    width: 98%;
    height: auto;
    object-fit: cover;
}
.bild_gallery:nth-child(8) {
    grid-column: 1 /span 6;
    grid-row: 6 / span 1;
    width: 98%;
    height: auto;
    object-fit: cover;
}
.bild_gallery:nth-child(9) {
    grid-column: 7 /span 6;
    grid-row: 6 / span 1;
    width: 98%;
    height: auto;
    object-fit: cover;
}

    /* KONTAKT___________________________________________*/

    .kontakt_intro {
        grid-column: 2 /span 10;
        grid-row: 1;
        padding-bottom: 1rem;
        border-bottom: solid 1px var(--corporate_color_violett);
        margin-bottom: 3rem;
    }

    .kontakt_title {
        text-align: center;
        color: var(--corporate_color_violett);
        font-weight: 300;
        margin: 0 auto;
    }

    .kontakt-left {
        grid-row:  2 / span 1;
    }

    .kontakt-right {
        grid-column: 1 /span 12;
        grid-row: 3 / span 1;
    }

    .kontakt-background {
        background-image: none;
  
    }

    .kontakt-text_right {
        color: var(--corporate_color_violett);
        width: 60vw;      
        text-align: center;
        justify-self: center;
    }