#intro {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 5;
}

.section_intro-text {
  margin: -10rem auto -3rem auto;
  max-width: 350px;
  position: relative;
  font-family: linotype-vectora, sans-serif;
  text-align: center;
  color: var(--corporate_color_violett); 
  }
  
#section_intro--frau {
  margin: 5rem auto;
  padding: 2rem;
  height: 60%;
  max-width: 300px
  }