#leistungen {
  position: relative;
  z-index: 5;

}
.section_leistungen-intro {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 5;
  margin-top: -10rem;
}

.section_leistungen-text {
  margin: 0 2rem 0 1rem;
  position: relative;
  font-family: linotype-vectora, sans-serif;
  text-align: center;
  color: var(--corporate_color_violett);
}

.section_leistungen-text:nth-child(1) {
  font-weight: 400;
}

.section_leistungen-cards {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  margin: 0.5rem;
  grid-gap: 1rem;
  z-index: 5;
}

.section_leistungen-card {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  border: 2px solid;
  border-radius: 1rem;
  padding: 2rem;
  border-color: var(--corporate_color_violett);
  color: var(--corporate_color_violett);
  background-color: white;
  box-shadow: 8px 8px 10px silver;
}
.section_leistungen-card > p {
  margin: 0 0 2rem 0;
}

.section_leistungen-card > h2 {
  margin: 0 0 1.5rem 0;
 }

 .section_leistungen-tags-nav {
   height: 2rem;
   width: 5rem;
   background-color: var(--corporate_color_violett);
  width: 60%;
}

.abbinder {
  margin: 4rem auto;
  text-align: center;
  width: 70%;
}

.section_leis_sub--sub {
  display: grid;
  grid-template-columns:  minmax(10px, 10%) minmax(300px, 1300px) minmax(10px, 10%);
  margin-top: -10rem;
  position: relative;
  z-index: 5;
}

.section_leis_sub--sub-inhalt {
  grid-column: 2 / span 1;;
  font-family: linotype-vectora, sans-serif;
  text-align: left;
  margin: 0 4rem 0 0;
  color: var(--corporate_color_violett);
}
