#leistungen {
  position: relative;
  z-index: 5;
}

.section_leistungen-intro {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 5;
  margin-top: -10rem;
  margin-bottom: 5rem;
}

.section_leistungen-text {
  margin: 0 2rem 0 1rem;
  position: relative;
  font-family: linotype-vectora, sans-serif;
  text-align: center;
  color: var(--corporate_color_violett);
}

.section_leistungen-text:nth-child(1) {
  font-weight: 400;
}

.section_leistungen-cards {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  margin: 0.5rem;
  grid-row-gap: 7rem;
  row-gap: 7rem;
  grid-column-gap: 1rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  z-index: 5;
}

.section_leistungen-card {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  position: relative;
  border: 2px solid;
  border-radius: 1rem;
  padding: 2rem;
  border-color: var(--corporate_color_violett);
  color: var(--corporate_color_violett);
  background-color: white;
  box-shadow: 8px 8px 10px silver;
}

.section_leistungen-card::before {
  content: ''url(content/faltenbehandlung.svg);
  width: 50px;
  position: absolute;
  transform: scale(0.8);
  top: -24%;
  left: 71%;
  z-index: 8;
}

.section_leistungen-card:nth-child(2)::before {
  content: ''url(content/hautstruktur.svg);
  top: -25%;
  left: 65%;
}

.section_leistungen-card:nth-child(3)::before {
  content: ''url(content/pigmente.svg);
  top: -30%;
  left: 65%;
}

.section_leistungen-card:nth-child(4)::before {
  content: ''url(content/volumenaufbau.svg);
  top: -35%;
  left: 65%;
}

.section_leistungen-card:nth-child(5)::before {
  content: ''url(content/lidplastik.svg);
  top: -31%;
  left: 60%;
}

.section_leistungen-card:nth-child(6)::before {
  content: ''url(content/laserepilation.svg);
  top: -37%;
  left: 65%;
}

.section_leistungen-card > p {
  margin: 0 0 2rem 0;
}

.section_leistungen-card > h2 {
  margin: 0 0 1.5rem 0;
 }


 .leistungen_nav {
   margin: 0;
 }

 .tags_leistungen {
   text-decoration: none;

 }
 .section_leistungen-tags-nav {
   height: 2rem;
   background-color: var(--corporate_color_violett);
    display: flex;
    flex-direction: wrap;
    justify-content: left;
    margin: 0.5rem;

}

.section_leistungen-tags-nav p {
  margin: 0 1rem 0 1rem;
  color: white;
  line-height: 2.2rem;
  font-size: 1rem;
}

.abbinder {
  margin: 4rem auto;
  text-align: center;
  width: 70%;
}

.section_leis_sub--sub {
  display: grid;
  grid-template-columns:  minmax(10px, 10%) minmax(300px, 1300px) minmax(10px, 10%);
  margin-top: -10rem;
  position: relative;
  z-index: 5;
}

.section_leis_sub--sub-inhalt {
  grid-column: 2 / span 1;;
  font-family: linotype-vectora, sans-serif;
  text-align: left;
  margin: 0 4rem 0 0;
  color: var(--corporate_color_violett);
}

/* MENUE___________________________________________*/
