/* Zusätzliche Regeln für kleinere Monitore  */

@media only screen and (min-width: 400px) {

/* HEADER___________________________________________*/

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) no-repeat,
    linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%) no-repeat;
    background-size: 23rem,
    100%;
    background-position: 50vw -3rem,
    0rem 0rem;
}

#background_picture {
  height: 80vh;
}

#section_intro--frau {
    height: 55%;
}

/* INTRO___________________________________________*/

.section_leistungen-intro {
  margin-top: -15rem;
  margin-bottom: 4rem;
}

/* Institut___________________________________________*/

.grid_institut {
  grid-template-columns: repeat(12, minmax(10px, 1fr));
}

.text_left {
  grid-column: 1 /span 12;
  grid-row: 3 / span 1;
  margin: 2rem 5rem 0 2rem;
}

.section_institut_right {
 display: none;
}

.bild_right {
display: none;
}
.text_right {
  grid-column: 1 /span 12;
  grid-row: 2 / span 1;
  margin: 2rem 5rem 0 2rem;
}


.bild_gallery:nth-child(5) {
  width: 100.8%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.bild_gallery:nth-child(6) {
  grid-column: 7 /span 6;
  grid-row: 4 / span 1;
  display: none;
}
.bild_gallery:nth-child(7) {
  grid-column: 7 /span 6;
  grid-row: 5 / span 1;
}
.bild_gallery:nth-child(8) {
  grid-column: 1 /span 6;
  grid-row: 5 / span 1;
}
.bild_gallery:nth-child(9) {
  display: none;
}

}
  @media only screen and (min-width: 768px) {

  body {
    grid-template-rows: minmax(40rem, -webkit-min-content) minmax(calc(100vh - 53rem), -webkit-min-content) minmax(8rem, -webkit-min-content);
    grid-template-rows: minmax(40rem, min-content) minmax(calc(100vh - 53rem), min-content) minmax(8rem, min-content);
  }

  /* Header___________________________________________*/
  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) no-repeat,
    linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
    background-size: 45%, 100%; 
    background-position: 100% 30%;
 }
    
  #background_picture {
    margin-top: 25rem;
    height: 65vh; 
 }

 #logo_green {
   position: absolute;
   margin: 8rem 0 0 4rem;
   height: 16rem;
 }


/* INTRO___________________________________________*/ 

  #intro {
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-template-rows: 1fr;
    margin-top: -5rem;
  }

  .section_intro-text {
    grid-column: 2/ span 1;
    text-align: left;
    margin: 0 2rem 0 1rem;
  }
      
  #section_intro--frau {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    margin-left: 2rem;
    margin-Top: 12rem;

  }

/* LEISTUNGEN___________________________________________*/ 

.section_leistungen-intro {
  display: grid;
  grid-template-columns: 1fr 60%;
  margin-top: -10rem;
}

  .section_leistungen-text {
    grid-column: 2/ span 1;
    text-align: left;
  }

  .section_leistungen-card::before {
    top: -27%;
}

  .section_leistungen-card:nth-child(2)::before {
    top: -18%;
}

  .section_leistungen-card:nth-child(3)::before {
  top: -38%;
}

.section_leistungen-card:nth-child(4)::before {
  transform: scale(0.7);
  top: -40%;
}

.section_leistungen-card:nth-child(6)::before {
  transform: scale(0.8);
  top: -41%;
}



/* INSTITUT___________________________________________*/ 

  .text_right {
    margin: 1rem;
  }

  .text_left {
    margin: 1rem;
  }

  .text_right > h2 {
    font-size: 1.2rem;
  }

  .text_right > p {
    font-size: 1rem;
  }
 
  .text_left> p {
   font-size: 1rem;
 }


 .bild_gallery:nth-child(5) {
  grid-column: 1 /span 6;
  grid-row: 4 / span 1;
  width: 99%;
 }

 .bild_gallery:nth-child(6) {
  width: 99%;
  display: unset;
 }


 .bild_gallery:nth-child(7) {
  width: 99%;
 }

.bild_gallery:nth-child(8) {
 width: 99%;
}

/* KONTAKT___________________________________________*/ 

.kontakt-text_right {
  width: 40vw;      
}

}



@media (min-device-width: 768px) and (orientation: landscape) {



/* INTRO___________________________________________*/ 

  .section_leistungen-intro {
    margin-top: -15rem;
  }

  .section_leistungen-cards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 8rem 2rem 8rem 2rem;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    grid-row-gap: 9rem;
    row-gap: 9rem;
  }

     /* INSTITUT___________________________________________*/ 

  .grid_institut {
    display: grid;
    grid-template-columns: repeat(12, minmax(60px, 1fr));
    grid-template-rows: minmax(50px 1fr) minmax(50px 1fr) minmax(50px 1fr);
}

.section_institut_left {
    grid-column: 1 /span 6;
    grid-row: 1 / span 1;
}
.text_left {
    grid-column: 1 /span 6;
    grid-row: 2 / span 1;
    margin: 2rem 2rem 0 4rem;
}

.section_institut_right {
    display: unset;
    grid-column: 7 /span 2;
    grid-row: 2 / span 1;
}

.bild_right {
    display: unset;

 }
.text_right {
    grid-column: 7 /span 6;
    grid-row: 1 / span 1;
    margin: 2rem 4rem 0 2rem;
}

.bild_gallery:nth-child(5) {
    grid-column: 1 /span 6;
    grid-row: 3 / span 2;
    width: 100.2%;
    height: auto;
  } 

.bild_gallery:nth-child(6) {
    grid-column: 7 /span 3;
    grid-row: 3 / span 1;
    width: 99%;
    height: auto;
  }
    
.bild_gallery:nth-child(7) {
    grid-column: 10 /span 3;
    grid-row: 3 / span 1;
    width: 99%;
    height: auto;
}
.bild_gallery:nth-child(8) {
    grid-column: 7 /span 3;
    grid-row: 4 / span 1;
    width: 99%;
    height: auto;
}
.bild_gallery:nth-child(9) {
    display: unset;
    grid-column: 10 /span 3;
    grid-row: 4 / span 1; 
    width: 99%;
    height: auto;
}

/* TEAM___________________________________________*/ 

.section_team-cards {
  margin: 2rem;
  grid-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.kontakt-left {
  grid-row:  2 / span 1;
}

.kontakt-right {
  grid-column: 7 / span 6;
  grid-row: 2 /span 1;
}

.section_team-card {
  width: 80%; 
}

.kontakt-text_right {
  width: 40vw;      
}




}

@media only screen and (min-width: 1024px) {

  /* HEADER___________________________________________*/ 

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) 180% 10% no-repeat, linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
    background-size: 32%, 100%;
    background-position: 100% 3rem;
  }

  #background_picture {
    margin-top: 23rem;
    height: 50rem;
  }

  #logo_green {
    position: absolute;
    margin: 6rem 0 0 6rem;
    height: 16rem;
  }

  #section_intro--frau {
    margin-Top: 10rem;
  }

  .hamburger-menu {
    display: none;
    }

  #nav_eben1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
  margin-right: 10%;
  width: 100%;
  transform: none;
  transition: none;
  }

  li a {
    font-size: 1rem;
    color:  white;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }

/* LEISTUNGEN___________________________________________*/ 

  .section_leistungen-cards {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    grid-column-gap: 2rem;
  }

/* INSTITUT___________________________________________*/ 

  .section_institut_left {
    grid-column: 1 /span 6;
    grid-row: 1 / span 1;
}
.text_left {
    grid-column: 1 /span 6;
    grid-row: 2 / span 1;
    margin: 2rem 2rem 0 4rem;
}

.section_institut_right {
    display: unset;
    grid-column: 7 /span 2;
    grid-row: 2 / span 1;
}

.bild_right {
    display: unset;

 }
.text_right {
    grid-column: 7 /span 6;
    grid-row: 1 / span 1;
    margin: 2rem 4rem 0 2rem;
}

/* TEAM___________________________________________*/ 

.section_team-cards {
  margin: 2rem;
  grid-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.section_team-card {
  width: 80%; 
}

.team-cards--text{
  height: 10rem;
}

.team-cards--text p {
  font-size: 1.2rem;
}

/* KONTAKT___________________________________________*/ 


.kontakt-left {
  grid-row:  2 / span 1;
}

.kontakt-right {
  grid-row: 2 / span 1;
  grid-column: 7 / span 6;
  font-size: 1rem;
  width: 30vw; 
}

 
}


  @media (min-device-width: 1024px) and (orientation: landscape) {

    #header_bereich {
      background-size: 25%, 100%;
      background-position: 100% 3rem;
    }

    .text_right > h2 {
      font-size: 1.5rem;
    }
  
    .text_right > p {
      font-size: 1.2rem;
    }
   
    .text_left> p {
     font-size: 1.2rem;
   }

   .section_leistungen-card:nth-child(3)::before {
    top: -29%;
}

.bild_gallery:nth-child(5) {
  width: 100%;
} 




  }

 @media only screen and (min-width: 1600px) {
  
body {
    grid-template-columns: minmax(-webkit-min-content) minmax(-webkit-min-content, 1600px) minmax(-webkit-min-content);
    grid-template-columns: minmax(min-content) minmax(min-content, 1600px) minmax(min-content);
}
#header_bereich {
  background: url(content/Statueportraitart_korrigiert_final.png) no-repeat, linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
  background-size: 23rem, 100%;
  background-position: 90% 5rem;
}

#background_picture {
  margin-top: 26rem;
  height: 83vh;
}

#logo_green {
  position: absolute;
  margin: 5% 0 0 30%;
  height: 16rem;
}

#intro {
  grid-template-columns: 1fr 50%;
  margin-top: 1rem;
  padding: 1rem;
}

.section_intro-text {
  grid-column: 2/ span 1;
  text-align: left;
  margin: 0 3rem 0 0;
}
    
#section_intro--frau {
  max-width: 60%;
}

.section_leistungen-intro {
  grid-template-columns: 1fr 50%;
  margin-top: -25rem;
  padding: 1rem;
}

.section_leistungen-text {
  margin: 0 3rem 0 0;
}

.section_leistungen-card > p {
  font-size: 1.5rem;
}

.section_leistungen-card::before {
  top: -27%;
}

.section_leistungen-card:nth-child(2)::before {
  top: -19%;
  left: 67%;
}

.abbinder {
  margin: 8rem auto;
  text-align: center;
  width: 70%;
}

.text_left {
  margin: 2rem 2rem 0 5rem;
}
.text_right {
  margin: 2rem 5rem 0 2rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.text_right > h2 {
  font-size: 2rem;
}

.text_right > p {
  font-size: 1.5rem;
}

.text_left> p {
 font-size: 1.5rem;
}




}
@media only screen and (min-width: 2000px) {

  body {
    grid-template-columns: minmax(-webkit-min-content) minmax(-webkit-min-content, 1600px) minmax(-webkit-min-content);
    grid-template-columns: minmax(min-content) minmax(min-content, 1600px) minmax(min-content);
  }

  #background_picture {
    margin-top: 21rem;
  }

}