/* Zusätzliche Regeln für kleinere Monitore  */

@media only screen and (min-width: 500px) {

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) 180% 10% no-repeat, linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
    background-size: 80%, 100%; 
  }

  .section_intro-text {
    margin-top: -15vW;
  }
  
}
  
  @media only screen and (min-width: 768px) {

  body {
    grid-template-rows: minmax(35rem, min-content) minmax(calc(100vh - 53rem), min-content) minmax(8rem, min-content);
  }

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) 100% 60% no-repeat, linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
    background-size: 45%, 100%; 
 }
    
  #background_picture {
    margin-top: 25rem;
    height: 65vh; 
 }

  #intro {
    flex-flow: row-reverse;
  }

  .section_intro-text {
    margin: -2vw 4vw 0 0.5rem;
    max-width: 400px;
    text-align: left;
    }
      
  #section_intro--frau {
    margin-top: 5rem;
    max-width: 250px;
    }
}

 @media only screen and (min-width: 1600px) {
  
  body {
    grid-template-columns: minmax(min-content) minmax(min-content, 1600px) minmax(min-content);
}
  }