/* Zusätzliche Regeln für kleinere Monitore  */

@media only screen and (min-width: 400px) {

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) no-repeat,
    linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%) no-repeat;
    background-size: 25rem,
    100%;
    background-position: 50vw -45%,
    0rem 0rem;
}

#background_picture {
  height: 80vh;
}

}
  @media only screen and (min-width: 768px) {

  body {
    grid-template-rows: minmax(40rem, min-content) minmax(calc(100vh - 53rem), min-content) minmax(8rem, min-content);
  }

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) no-repeat,
    linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
    background-size: 45%, 100%; 
    background-position: 100% 30%;
 }
    
  #background_picture {
    margin-top: 25rem;
    height: 65vh; 
 }

 #logo_green {
   position: absolute;
   margin: 8rem 0 0 4rem;
   height: 16rem;
 }

  #intro {
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-template-rows: 1fr;
    margin-top: -5rem;
  }

  .section_intro-text {
    grid-column: 2/ span 1;
    text-align: left;
    margin: 0 2rem 0 1rem;
  }
      
  #section_intro--frau {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    margin-left: 2rem;
    margin-Top: 12rem;

  }
.section_leistungen-intro {
  display: grid;
  grid-template-columns: 1fr 60%;
  margin-top: -10rem;
}

  .section_leistungen-text {
    grid-column: 2/ span 1;
    text-align: left;
  }

}

@media (min-device-width: 768px) and (orientation: landscape) {

  .section_leistungen-intro {
    margin-top: -15rem;
  }

}

@media only screen and (min-width: 1024px) {

  #header_bereich {
    background: url(content/Statueportraitart_korrigiert_final.png) 180% 10% no-repeat, linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
    background-size: 35%, 100%;
    background-position: 100%;
  }

  #background_picture {
    margin-top: 23rem;
    height: 50rem;
  }

  #logo_green {
    position: absolute;
    margin: 6rem 0 0 6rem;
    height: 16rem;
  }

  #section_intro--frau {
    margin-Top: 10rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }
  
  }

  @media (min-device-width: 1024px) and (orientation: landscape) {

    #header_bereich {
      background-size: 30%, 100%;
      background-position: 100%;
    }
  }
 @media only screen and (min-width: 1600px) {
  
body {
    grid-template-columns: minmax(min-content) minmax(min-content, 1600px) minmax(min-content);
}
#header_bereich {
  background: url(content/Statueportraitart_korrigiert_final.png) no-repeat, linear-gradient(to right, var(--corporate_color_violett_hell) -20%, var(--corporate_color_violett)50%);
  background-size: 25rem, 100%;
  background-position: 80%;
}

#background_picture {
  margin-top: 23rem;
  height: 75vh;
}

#logo_green {
  position: absolute;
  margin: 5% 0 0 30%;
  height: 16rem;
}

#intro {
  grid-template-columns: 1fr 50%;
  margin-top: 1rem;
  padding: 1rem;
}

.section_intro-text {
  grid-column: 2/ span 1;
  text-align: left;
  margin: 0 3rem 0 0;
}
    
#section_intro--frau {
  max-width: 60%;
}

.section_leistungen-intro {
  grid-template-columns: 1fr 50%;
  margin-top: -25rem;
  padding: 1rem;
}

.section_leistungen-text {
  margin: 0 3rem 0 0;
}

  }