body {
    display: grid;
    grid-template-rows: minmax(25rem, -webkit-min-content) minmax(calc(100vh - 17rem), -webkit-min-content) minmax(8rem, -webkit-min-content);
    grid-template-rows: minmax(25rem, min-content) minmax(calc(100vh - 17rem), min-content) minmax(8rem, min-content);
    grid-template-columns: 1fr minmax(300px, 1600px) 1fr;
    margin: 0;
    background-color: white;
    align-content: center;
    font-family: linotype-vectora, sans-serif;
   /* font-weight: 400;  */ 
    font-style: normal;
    font-size: 65.5%;
    box-sizing: border-box;
  }
